.App {
  text-align: center;
  margin-left: 5vw;
}

.navbar > * {
  margin: 4vw;
}

.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}