.App {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/* ------------------- */
/* NAVBAR */
.navbar {
  background-color: #24527A;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 2vw;
}

.icon {
  height: 6vh;
  padding: 1vh;
  padding-left: 2vw;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* .navbar :active {
  background-color: white;
} */

.navbar button {
  background-color: #24527A;
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
}

/* ------------------- */

.flex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 4vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* ------------------- */
/* LOGIN & SIGNUP*/

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #24527A;
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 100%;
}

.login-box {
  background-color: white;
  color: #24527A;
  font-size: 1rem;
  width: 50vw;
  text-align: center;
  border: 2vw solid #24527A;
  border-radius: 3vw;
  padding: 4vh;
}

.logo {
  width: 30vw;
  border-radius: 5%;
}

.avatarDiv {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 0.3vw solid #42819D;
}

.avatar {
  width: 100%;
  min-height: 100%;
  max-width: none;
  position: absolute;
  transform: translateX(-50%);
  height: inherit;
  object-fit: cover;
/*   object-position: 50% 50%; */
}

.login-box h2 {
  font-size: 1.2rem;
  color:#42819D;
  font-weight: 600;
}

.inputfields {
  text-align: left;
}

.login-box input {
  width: 49vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 1.1rem;
  border: 0.3vw solid #42819D;
  border-radius: 1vw;
  outline-color:#24527A;
}

.login-box a {
  color: #42819D;
}

.btn {
  padding: 2vh;
  align-self: center;
  background-color: #24527A;
  color: #83b1c5;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.9vw;
}
/* ------------------- */
/* HOME */
.home {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10vh;
  color: #24527A;
}

.home button {
  margin: 2vh;
}

/* ------------------- */
/* Categories */
.cat-page {
  color: #24527A;
  display: flex;
  flex-direction: column;
}

.cat-page .header h3 {
 color:#24527A;
}

.cat {
  color: white;
  background-color: #42819D;
}

.cat-page button {
  background-color: white; /* 83b1c5 */
  color: #24527A;
  border: 0.3vw solid #42819D;
  margin: 0.7vh;
  padding: 1.5vw;
  width: fit-content;
  font-size: 0.7rem;
}

.cat-page button:hover {
  background-color: #24527A;
  color: white;
  transition: 0.7s;
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ------------------- */
/* Profile */
.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #24527A;
}

.editAvatarForm {
  border: 1vw solid #42819D;
  border-radius: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

.editAvatarForm * {
  margin: 0.5vw;
}

.profile .header h3, p {
  margin-left: 5vw;
  color: #42819D
}

.friends > form > input {
  font-size: 1.2rem;
  border: 0.3vw solid #42819D;
  border-radius: 1vw;
  outline-color: #24527A;
}

.iconBtn {
  padding: 1vh;
  background-color: #24527A;
  color: #83b1c5;
  font-size: 0.8rem;
  border-radius: 0.9vw;
  width: fit-content;
}

.profile .avatarDiv {
  width: 4rem;
  height: 4rem;
  margin: 1vh;
}

.editAvatarForm input::file-selector-button {
  padding: 1vh;
  background-color: #24527A;
  color: #83b1c5;
  width: fit-content;
  border-radius: 0.8vw;
}

.profile table {
  border: 0.7vw solid #42819D;
  border-radius: 2vw;
  padding: 2vw;
}

.leaderboard {
  margin-top: 3vh;
}

.leaderboard .avatarDiv {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.2vw solid #42819D;
}

/* ---------------------- */
/* QuizLIst */
.material-icons-outlined.md-18 { 
  font-size: 2.5vh; 
}

.quizList {
  color: #24527A;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.quizList button {
  margin: 0 1.5vw 0 1.5vw;
}

.quizList ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.quizList li {
  border: 3px solid #42819D;
  border-radius: 1vw;
  padding: 0.4vw;
  margin-bottom: 1.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quizList li:hover {
  background-color: #24527A;
  color: white;
  transition: 0.7s;
  border: none;
}

.nameLevel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vw;
}

/* ---------------- */
/* PLAY QUIZ */
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz h1, h3, h4 {
  color:#87a3af;
}
.question {
  text-align: center;
  width: 90vw;
  color:#24527A;
  font-size: 0.9rem;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  width: 60vw;
}
.answerBtn {
  background-color: white;
  color: #24527A;
  border: 0.4vw solid #42819D;
  border-radius: 1vw;
  margin: 1vh;
  padding: 2vh;
  width: fit-content;
  font-size: 1rem;
}

.answerBtn:hover {
  background-color: #24527A;
  color: white;
  transition: 0.7s;
  border: none;
}

.endQuiz {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.endQuiz a {
  text-decoration: none;
}

/* ------------- */
/* Create & edit Quiz */
.quiz-edit {
  color: #24527A;
  font-weight: bold;
  margin: 0 5vw;
}

.quiz-edit input, select {
  outline-color: #24527A;
  margin: 0.5vh;
}

.quiz-edit select option {
  background: #42819D;
  color: white;
}

.quizEditform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quizEditform input[name="question"] {
  width: 70vw;
}

.quiz-edit button {
  margin: 1vw;
  font-size: 0.7rem;
}

/* --------------- */
/* 404page */
.page404 {
  color: #24527A;
  text-align: center;
  background-color: #24527A;
  height: 100vh;
}
.page404 img {
  width: 100vw;
  height: auto;
}

/* -------------------------------- */
/* ROOM */
.room {
 margin: 0 5vw;
 text-align: center;
}
.room input {
  outline-color: #24527A;
}

.room h1 {
  margin: 1vh;
}
.room h3 {
  margin: 2vh 0 0 0;
}

.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.endQuiz h1 {
  color: #24527A;
}